<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<!-- https://stackoverflow.com/questions/6322127/can-not-find-the-tag-library-descriptor-for-http-java-sun-com-jsf-facelets -->
<head>

<title>Application de tests avec JSF</title>

</head>

<body>

	<h:form>

		<h3>Identification</h3>

		<table>

			<tr>

				<td>Nom :</td>

				<td><h:inputText value="#{login.nom}" /></td>

			</tr>

			<tr>

				<td>Mot de passe :</td>

				<td><h:inputSecret value="#{login.mdp}" /></td>

			</tr>

			<tr>

				<td colspan="2"><h:commandButton value="Login" action="login" /></td>

			</tr>

		</table>

	</h:form>

</body>


</html>